/* Draggabilly lil page styles
------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #444;
}

/* type
------------------------- */

h1, h2, h3, h4, h5,
.tagline {
  font-family: 'Montserrat', Gotham, 'Proxima Nova', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
}


/* base
------------------------- */

h1, h2, h3, h4, h5,
p,
ul, ol, pre {
  margin-top: 0;
  margin-bottom: 0.8em;
}

h1 {
/*  color: #F90; */
  letter-spacing: -0.03em;
}

h2 {
  border-top: 2px solid #DDD;
  padding-top: 0.5em;
  margin-top: 2.0em;
}

h3, h4, h5 { font-weight: normal; }

a {
  color: #80D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 1.8em;
}

pre, code {
  font-family: Consolas, Menlo, monospace;
  background: #FAFAFA;
  color: #111;
}

code {
  padding: 0.1em 0.2em;
  border-radius: 2px;
}

pre {
  padding: 0.5em;
  border-radius: 7px;
}

pre code {
  border-radius: 0;
  padding: 0;
}

.tagline {
  font-size: 20px;
}

/* layout
------------------------- */

#content {
  padding: 1.0em;
}


/* examples
------------------------- */

.example-frame {
  position: relative;
}


/* draggabillies
------------------------- */

.draggie {
  width:  150px;
  height: 150px;
  background: #FA0;
  border-radius: 10px;
}

.draggie.is-dragging {
  opacity: 0.5;
  z-index: 2;
}

.draggie.is-dragging,
.draggie:hover,
#has-handle .handle:hover {
  cursor: move;
  background: #0AF;
}

/* specific examples
------------------------- */

#container {
  top: -2.4em;
  height: 150px;
  padding: 15px 2.5%;
  border-radius: 10px;
  border: 6px solid #FA0;
}

#container .draggie {
  width: 23.3%;
  height: 80px;
  float: left;
  margin: 15px 5%;
}

#has-handle {
  padding: 20px;
}

#has-handle:hover {
  cursor: default;
  background: #FA0;
}

#has-handle .handle {
  background: #555;
  background: hsla(0, 0%, 0%, 0.4);
  width:  60px;
  height: 60px;
  border-radius: 5px;
}

#evented pre {
  background: #555;
  color: white;
}

#evented pre code {
  color: white;
  background: none;
}

/* syntax highlighting
------------------------- */

code .string,
code .tag .value { color: #072; }
code .number, /* integer */
code .cp, /* doctype */
code .literal { color: #07D; } /*boolean*/
code .keyword { color: #C31; } /* keyword */
code .kd, /* storage */
code .attribute { color: #A61; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .comment { color: #999; font-style: italic; }

code .tag { color: #37B; } /* Markup open tag */

code .id { color: #567; } /* css id */
code .class { color: #A63; }  /* CSS class */
code .rules { color: #431; }
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */
code .hexcolor { color: #F63; }
code .at_rule { color: #088; }


/* tablet and desktop */
@media screen and (min-width: 720px) {

  h1 {
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 0.3em;
  }

  #content {
    width: 60%;
    padding: 1.0em 2%;
    background: #E5E5E5;
  }

  .example-frame .example {
    position: absolute;
    left: 107.5%;
    width: 64%;
  }

}
