/* Draggabilly lil page styles
------------------------- */

body {
  font-family: sans-serif;
  padding: 20px;
  line-height: 1.5;
}

/* examples
------------------------- */

.example-frame {
  position: relative;
}

.example {
  position: absolute;
  left: 50%;
}


/* draggabillies
------------------------- */

.draggie {
  width: 160px;
  height: 160px;
  background: red;
}

.draggie.is-dragging {
  opacity: 0.5;
  z-index: 2;
}

/* specific examples
------------------------- */

#container {
  width: 300px;
  height: 200px;
  border: 2px solid;
}

#container .draggie {
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
}
